<% include ./partials/header.ejs %><style>
    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }

    .bounce {
        animation: bounce 2s infinite;
    }
</style>
<div class="div main">
  <nav class="flex h-fit flex-col">
    <div class="div h-10 w-full  bg-[#7A0222]"></div>
    <div class="div flex items-center justify-between py-5 px-14 border-b-2">
        <div class="left">
            <a href="/"><img class="h-[90px]" src="/images/all-seasons_page-0001.jpg" alt=""></a>
        </div>
        <div class="right">
            <ul class="flex gap-10 items-center  ">
                <li class="text-[#7A0222] font-bold"><a href="/">Home</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/about">About</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/gallery">Gallery</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/programs">Our Programs</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/activity">Activities</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/contact">Contact Us</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/login">Login</a></li>
                <h4><i id="menu-btn" class="ri-menu-line"></i></h4>
            </ul>
        </div>
    </div>
</nav>
<div id="slidebar" class="bg-[#7A0222]">
    <div class="left">
        <a href="/"><img class="h-[90px] rounded" src="/images/all-seasons_page-0001.jpg" alt=""></a>
    </div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>
    <a href="/programs">Our Programs</a>
    <a href="/activity">Activities</a>
    <a href="/contact">Contact</a>
    <!-- <a href="/register">Register</a> -->
    <a href="/login">Login</a>
</div>
<div class="pagee2 lg:p-10 py-5 flex flex-col bg-[#F9F6EF] items-center h-fit w-full">
    <div class="contact-content flex lg:gap-12  w-full flex-col items-center">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-[#A81B49] mb-6">All Activities </h1>
        <% events ? events.forEach(function(event){ %>
        <div class="div w-full h-fit flex flex-col gap-5  p-5">
            <h1 class="text-2xl text-[#1AB9FF] font-[700]"><i class="ri-megaphone-fill pr-3 "></i><%= event.eventName %> &nbsp;  <% 
                // Assuming event.eventDate is a JavaScript Date object
                const options = { year: 'numeric', month: 'numeric', day: 'numeric' };
                const formattedDate = event.eventDate.toLocaleDateString(undefined, options);
            %>
            <span class="text-lg"><%= formattedDate %></span> </h1>
            <p class="lg:px-10  text-lg"><%= event.eventDescription %></p>
            <div id="foodorder" class="div bg-white rounded-lg  lg:h-fit px-2  lg:px-8 w-full flex overflow-auto  gap-8 py-3 ">
                <% event.eventImages.forEach(function(image) { %> 
                <div class="box bg-red-300 overflow-hidden relative flex-shrink-0 md:h-[40vw] md:w-[40vw] lg:h-[30vw] lg:w-[30vw] h-[50vw] w-[50vw] xl:h-[19vw] rounded xl:w-[20vw] ">
                    <img class="h-full w-full object-cover" src="<%= image %>" alt=""> 
                </div>
                <% }) %> 
            
            
            </div>
        </div>
        <% }):"noo" %>
        
    </div>
   
</div>

<div class="page4 bg-[#A81B49]">
    
    <div class="sub-footer lg:h-[60vh] lg:px-32 flex-col lg:flex-row py-10 flex justify-between">
        <div class="part-1 lg:w-[35%]">
            <div class="left">
                <a href="/"><img class="h-[90px]" src="/images/all-seasons_page-0001.jpg" alt=""></a>
            </div>
            <p class=" pt-10 text-white">ALL SEASONS is different & Unique Preschool with its unique designed curriculum which include all round personality development, yoga, dance, music and many more such activities to prepare a child for formal education. </p>
<div class="div gap-3 pt-10 text-white flex">
    <i class="ri-facebook-fill hover:bg-green-500 text-lg bg-[#FF6666] rounded-full px-1"></i>
    <i class="ri-instagram-line hover:bg-green-500 text-lg bg-[#1AB9FF] rounded-full px-1"></i>
    <i class="ri-twitter-x-fill hover:bg-green-500 text-lg bg-yellow-300 rounded-full px-1"></i>
    <i class="ri-linkedin-fill hover:bg-green-500 text-white text-lg bg-[#ABCD52] rounded-full px-1"></i>
</div>
        </div>

        <div class="part-4 flex flex-col lg:flex-row gap-10 justify-between lg:pl-10 lg:gap-2 lg:w-[65%]">
           <div class="left"> <h1 class="text-2xl font-[600] text-white">CONTACT US</h1>
        <div class="div text-xl flex flex-col gap-3 text-white pt-10">
            <div class="box1 flex gap-5"> <i class="ri-map-pin-line text-[#ABCD52]"></i> <%= admin && admin.location1 ? admin.location1
                : 'Opposite Rolling Mill, Guwahati, Assam' %> </div>
            <div class="box1 flex gap-5"><i class="ri-phone-line text-[#ABCD52]"></i><%= admin && admin.contact1 ? admin.contact1
                : '9346017770' %>, <%= admin && admin.contact2 ? admin.contact2
                : '9346017770' %> , 9706056699 </div>
            <div class="box1 flex gap-5"> <i class="ri-mail-line text-[#ABCD52]"></i>info@allseasons.co.in</div>
            <div class="box1 flex gap-5"><i class="ri-time-line text-[#ABCD52]"></i>9:30 am - 6:30 pm - Mon - Sun</div>
        </div>
        </div>
           <div class="left"> <h1 class="text-2xl font-[600] text-white">NEWS FEED</h1>
        <div class="div text-xl flex flex-col gap-1 text-white pt-10">
             <h1>Hello World!</h1>
            <div class="box1 flex gap-5"> <i class="ri-calendar-2-fill text-[#ABCD52]"></i> 26 March 2024</div>
           <h1 class="pt-5">What can tracks teach kids Preschool</h1> 
            <div class="box1 flex gap-5"><i class="ri-calendar-2-fill text-[#ABCD52]"></i>08 January 2022</div>
        </div>
        </div>
          
        </div>
    </div>
   
</div>
</div>
<a href="https://wa.me/919706056699" class="text-decoration-none bounce" id="whatspp" ><button
    class="btn   "><i
      class="ri-whatsapp-fill "></i></button>
</a>
<div id="scroll-to-top" class="bounce" onclick="scrollToTop()">
    <span>&#8593;</span>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
    <!-- FAQ Section JS -->
    <script>
        let answers = document.querySelectorAll(".accordion");
        answers.forEach((event) => {
            event.addEventListener("click", () => {
                if (event.classList.contains("active")) {
                    event.classList.remove("active");
                } else {
                    event.classList.add("active");
                }
            });
        });
    </script>

    <script src="/javascripts/sidebar.js"></script>

    <!-- Scroll to top JS -->
    <script src="/javascripts/scrollToTop.js"></script>